/* color palette */
:root {
    --white: #ffffff;
    --white-soft: #efefef;

    --black: #181818;
    --black-soft: #242424;

    --theme: #ffa500;
    --theme2: #800080;

    --text-light-1: var(--black);
    --text-dark-1: var(--white);
}

/** SEMANTIC COLORS **/
:root {
    /* Light Theme (default) */
    --c-bg: var(--white-soft);

    --c-heading: var(--text-light-1);
    --c-text: var(--text-light-1);
    --underline: var(--theme)
}

@media (prefers-color-scheme: dark) {
    :root {
        --c-bg: var(--black-soft);
        
        --c-heading: var(--text-dark-1);
        --c-text: var(--text-dark-1);
        --underline: var(--theme2)
    }
}

/** SPACING VARIABLES **/
:root {
    --section-gap: 160px;
    /* For the homepage icons from the vue template */

    /* For header, footer, main, etc. */
    --content-width: 1500px;
    --content-padding-h: 2rem;
    /* Horizontal padding */

    --size-s: 0.5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 3rem;

    --spacing-2: 5px;
    --spacing-3: 0.5rem;
    /* Small */
    --spacing-4: 0.75rem;
    --spacing-5: 1rem;
    /* Standard */
    --spacing-7: 1.5rem;
    /* Big */

    --padding-s: var(--spacing-3);
    --padding-m: var(--spacing-5);
    --padding-l: var(--spacing-7);

    --margin-s: var(--spacing-3);
    --margin-m: var(--spacing-5);
    --margin-l: var(--spacing-7);

    --border-thin: solid 1px var(--c-border);
    --border-medium: solid 2px var(--c-border);
    --border-large: solid 3px var(--c-border);

    /* border-radius */
    --corner-s: 4px;
    --corner-m: 10px;
    --corner-l: 1rem;
}
